
$color: white;
$primary: #880E4F;

//font sizes------------------------------
$lg: 2em;
$md: 1.2em;
$sm: 0.6em;
//----------------------------------------

body{
  background: white;
}


#menu{
  display: none;
  position: fixed;
  top: 2%;
  right: 0;
  padding: 4%;
  font-size: $md;
  opacity: 1;
  transition: all 500ms ease;
}

//NAVBAR STYLES__________________________________
#navbar{
  position: fixed;
  width: 20%;
  height: 100%;
  background: lighten(#000, 20%);
  border-top: 4px solid $primary;
 box-shadow: 2px 0 2px black;
  overflow-y: scroll;
  
  header{
    margin-left: 5%;
    font-size: $lg;
    padding-top: 8%;
    color: black;
  }
  
  ul{
    margin: 0;
    padding: 0;
    a{
      text-decoration: none;
      border-bottom: 2px solid grey;
      box-shadow: 0 1px 1px darken(#330000, 5%);
      li{
        color: grey;
        list-style-type: none;
        padding-top: 4%;
        font-size: $md;
        &:hover {
          color: $primary;
        }
      }
    }
    a.active{
        background: $primary;
        color: white;
      }
  }
}
//---------------------------------------------------------


//DOCUMENTATON STYLES_________________________________________
#main-doc{
  margin-left: 20%;
  margin-top: 0;
  width: 80%;
  height: 100%;
  
 > header{
    font-size: 2.5em;
    padding: 4%;
    border-top: 4px solid $primary;
    border-left: 4px solid black;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 1) inset;
  }
  
  section{
    margin: 4%;
    >header{
      border-bottom: 2px solid $primary;
      font-size: $lg;
      font-weight: bold;
      padding-left: 1%;
    }
    >article{
      padding: 2%;
      >code{
        display: block;
        padding: 2%;
        background: darken($color, 10%);
        border-left: 4px solid #3F51B5;
      }
    }
  }
}
//----------------------------------------------------------------------

//hide scrollbar for chrome and safari--------
::-webkit-scrollbar { 
    display: none; 
}


.rotate{
  transform:rotate(180deg);
  opacity: 0;
  transition: all 500ms ease;
}


@media only screen and (max-width: 768px) {
  body #navbar{
    width: 0%;
    background: rgba(0, 0, 0, 0.8);
    header{
      font-size: $md;
      background: $primary;
    }
    a{
      font-size: $sm;
    }
  }
  
  body #main-doc{
    margin-left: 0;
    width: 100%;
    header{
      font-size: 2.2em;
    }
    
    section{
      margin: 5%;
      header{
        font-size: 1.6em;
      }
    }
  }
  
  body #menu{
    display: inline-block;
  }
}